WindowsFormsApplication1/Service References/ServiceReference1/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="https://api.antechdiagnostics.com/service/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="services" targetNamespace="https://api.antechdiagnostics.com/service/services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://devha.antechdiagnostics.com:443/service/services?xsd=1" namespace="https://api.antechdiagnostics.com/service/services" />
    </xsd:schema>
  </types>
  <message name="getTypeOfServices">
    <part name="parameters" element="tns:getTypeOfServices" />
  </message>
  <message name="getTypeOfServicesResponse">
    <part name="parameters" element="tns:getTypeOfServicesResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="getAllLabResults">
    <part name="parameters" element="tns:getAllLabResults" />
  </message>
  <message name="getAllLabResultsResponse">
    <part name="parameters" element="tns:getAllLabResultsResponse" />
  </message>
  <message name="getAllLabResults_ReqId">
    <part name="parameters" element="tns:getAllLabResults_ReqId" />
  </message>
  <message name="getAllLabResults_ReqIdResponse">
    <part name="parameters" element="tns:getAllLabResults_ReqIdResponse" />
  </message>
  <message name="createLabOrder">
    <part name="parameters" element="tns:createLabOrder" />
  </message>
  <message name="createLabOrderResponse">
    <part name="parameters" element="tns:createLabOrderResponse" />
  </message>
  <message name="createLabOrder_ChartId">
    <part name="parameters" element="tns:createLabOrder_ChartId" />
  </message>
  <message name="createLabOrder_ChartIdResponse">
    <part name="parameters" element="tns:createLabOrder_ChartIdResponse" />
  </message>
  <message name="createLabOrder_AccessionNo">
    <part name="parameters" element="tns:createLabOrder_AccessionNo" />
  </message>
  <message name="createLabOrder_AccessionNoResponse">
    <part name="parameters" element="tns:createLabOrder_AccessionNoResponse" />
  </message>
  <message name="createLabOrder_update">
    <part name="parameters" element="tns:createLabOrder_update" />
  </message>
  <message name="createLabOrder_updateResponse">
    <part name="parameters" element="tns:createLabOrder_updateResponse" />
  </message>
  <message name="createLabOrder_ChartId_update">
    <part name="parameters" element="tns:createLabOrder_ChartId_update" />
  </message>
  <message name="createLabOrder_ChartId_updateResponse">
    <part name="parameters" element="tns:createLabOrder_ChartId_updateResponse" />
  </message>
  <message name="validateLabOrderCode">
    <part name="parameters" element="tns:validateLabOrderCode" />
  </message>
  <message name="validateLabOrderCodeResponse">
    <part name="parameters" element="tns:validateLabOrderCodeResponse" />
  </message>
  <message name="getLabOrderCode">
    <part name="parameters" element="tns:getLabOrderCode" />
  </message>
  <message name="getLabOrderCodeResponse">
    <part name="parameters" element="tns:getLabOrderCodeResponse" />
  </message>
  <message name="getPubCodeListPrice_US">
    <part name="parameters" element="tns:getPubCodeListPrice_US" />
  </message>
  <message name="getPubCodeListPrice_USResponse">
    <part name="parameters" element="tns:getPubCodeListPrice_USResponse" />
  </message>
  <message name="validateAntechAccount">
    <part name="parameters" element="tns:validateAntechAccount" />
  </message>
  <message name="validateAntechAccountResponse">
    <part name="parameters" element="tns:validateAntechAccountResponse" />
  </message>
  <message name="validateAntechNumAcct">
    <part name="parameters" element="tns:validateAntechNumAcct" />
  </message>
  <message name="validateAntechNumAcctResponse">
    <part name="parameters" element="tns:validateAntechNumAcctResponse" />
  </message>
  <message name="validatePetSpecies">
    <part name="parameters" element="tns:validatePetSpecies" />
  </message>
  <message name="validatePetSpeciesResponse">
    <part name="parameters" element="tns:validatePetSpeciesResponse" />
  </message>
  <message name="getPetBreedList">
    <part name="parameters" element="tns:getPetBreedList" />
  </message>
  <message name="getPetBreedListResponse">
    <part name="parameters" element="tns:getPetBreedListResponse" />
  </message>
  <message name="acknowledgeServices">
    <part name="parameters" element="tns:acknowledgeServices" />
  </message>
  <message name="acknowledgeServicesResponse">
    <part name="parameters" element="tns:acknowledgeServicesResponse" />
  </message>
  <message name="getNewEvents">
    <part name="parameters" element="tns:getNewEvents" />
  </message>
  <message name="getNewEventsResponse">
    <part name="parameters" element="tns:getNewEventsResponse" />
  </message>
  <message name="getLabResults">
    <part name="parameters" element="tns:getLabResults" />
  </message>
  <message name="getLabResultsResponse">
    <part name="parameters" element="tns:getLabResultsResponse" />
  </message>
  <message name="getLabResultsByRequisitionId">
    <part name="parameters" element="tns:getLabResultsByRequisitionId" />
  </message>
  <message name="getLabResultsByRequisitionIdResponse">
    <part name="parameters" element="tns:getLabResultsByRequisitionIdResponse" />
  </message>
  <portType name="Service">
    <operation name="getTypeOfServices">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getTypeOfServicesRequest" message="tns:getTypeOfServices" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getTypeOfServicesResponse" message="tns:getTypeOfServicesResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getTypeOfServices/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getAllLabResults">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getAllLabResultsRequest" message="tns:getAllLabResults" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getAllLabResultsResponse" message="tns:getAllLabResultsResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getAllLabResults/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getAllLabResults_ReqId">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getAllLabResults_ReqIdRequest" message="tns:getAllLabResults_ReqId" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getAllLabResults_ReqIdResponse" message="tns:getAllLabResults_ReqIdResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getAllLabResults_ReqId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="createLabOrder">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrderRequest" message="tns:createLabOrder" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrderResponse" message="tns:createLabOrderResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="createLabOrder_ChartId">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_ChartIdRequest" message="tns:createLabOrder_ChartId" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_ChartIdResponse" message="tns:createLabOrder_ChartIdResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_ChartId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="createLabOrder_AccessionNo">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_AccessionNoRequest" message="tns:createLabOrder_AccessionNo" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_AccessionNoResponse" message="tns:createLabOrder_AccessionNoResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_AccessionNo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="createLabOrder_update">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_updateRequest" message="tns:createLabOrder_update" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_updateResponse" message="tns:createLabOrder_updateResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_update/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="createLabOrder_ChartId_update">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_ChartId_updateRequest" message="tns:createLabOrder_ChartId_update" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_ChartId_updateResponse" message="tns:createLabOrder_ChartId_updateResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/createLabOrder_ChartId_update/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="validateLabOrderCode">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateLabOrderCodeRequest" message="tns:validateLabOrderCode" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateLabOrderCodeResponse" message="tns:validateLabOrderCodeResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateLabOrderCode/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getLabOrderCode">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabOrderCodeRequest" message="tns:getLabOrderCode" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabOrderCodeResponse" message="tns:getLabOrderCodeResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabOrderCode/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getPubCodeListPrice_US">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getPubCodeListPrice_USRequest" message="tns:getPubCodeListPrice_US" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getPubCodeListPrice_USResponse" message="tns:getPubCodeListPrice_USResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getPubCodeListPrice_US/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="validateAntechAccount">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateAntechAccountRequest" message="tns:validateAntechAccount" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateAntechAccountResponse" message="tns:validateAntechAccountResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateAntechAccount/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="validateAntechNumAcct">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateAntechNumAcctRequest" message="tns:validateAntechNumAcct" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateAntechNumAcctResponse" message="tns:validateAntechNumAcctResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validateAntechNumAcct/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="validatePetSpecies">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validatePetSpeciesRequest" message="tns:validatePetSpecies" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validatePetSpeciesResponse" message="tns:validatePetSpeciesResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/validatePetSpecies/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getPetBreedList">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getPetBreedListRequest" message="tns:getPetBreedList" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getPetBreedListResponse" message="tns:getPetBreedListResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getPetBreedList/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="acknowledgeServices">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/acknowledgeServicesRequest" message="tns:acknowledgeServices" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/acknowledgeServicesResponse" message="tns:acknowledgeServicesResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/acknowledgeServices/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getNewEvents">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getNewEventsRequest" message="tns:getNewEvents" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getNewEventsResponse" message="tns:getNewEventsResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getNewEvents/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getLabResults">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabResultsRequest" message="tns:getLabResults" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabResultsResponse" message="tns:getLabResultsResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabResults/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getLabResultsByRequisitionId">
      <input wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabResultsByRequisitionIdRequest" message="tns:getLabResultsByRequisitionId" />
      <output wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabResultsByRequisitionIdResponse" message="tns:getLabResultsByRequisitionIdResponse" />
      <fault wsam:Action="https://api.antechdiagnostics.com/service/services/Service/getLabResultsByRequisitionId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="ServicesPortBinding" type="tns:Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getTypeOfServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLabResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLabResults_ReqId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_ChartId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_AccessionNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_ChartId_update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="validateLabOrderCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getLabOrderCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getPubCodeListPrice_US">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="validateAntechAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="validateAntechNumAcct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="validatePetSpecies">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getPetBreedList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="acknowledgeServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getNewEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getLabResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getLabResultsByRequisitionId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="services">
    <port name="ServicesPort" binding="tns:ServicesPortBinding">
      <soap:address location="https://devha.antechdiagnostics.com:443/service/services" />
    </port>
  </service>
</definitions>