WindowsFormsApplication1/Service References/ServiceReference1/services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="https://api.antechdiagnostics.com/service/services" targetNamespace="https://api.antechdiagnostics.com/service/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="fullAntechAccount">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="address" type="xsd:string" />
      <xsd:element minOccurs="0" name="antechAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="city" type="xsd:string" />
      <xsd:element name="clinicId" type="xsd:int" />
      <xsd:element minOccurs="0" name="country" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="faxNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" name="phoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="state" type="xsd:string" />
      <xsd:element minOccurs="0" name="validAccount" type="xsd:string" />
      <xsd:element minOccurs="0" name="website" type="xsd:string" />
      <xsd:element minOccurs="0" name="zipcode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="loginObject">
    <xsd:sequence>
      <xsd:element name="clinicId" type="xsd:int" />
      <xsd:element name="corporateId" type="xsd:int" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
      <xsd:element minOccurs="0" name="userName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_updateResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labOrderResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labResultObject">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accessionLatestReceivedDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="accessionResultId" type="xsd:string" />
      <xsd:element minOccurs="0" name="antechAccessionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="errorMessage" type="xsd:string" />
      <xsd:element minOccurs="0" name="labName" type="xsd:string" />
      <xsd:element minOccurs="0" name="labResults" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="resultReportedDate" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pubCodeListPrice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCodeName" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCodePrice" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCodeType" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labOrderNoCharge">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accessionNo" type="xsd:string" />
      <xsd:element minOccurs="0" name="chartId" type="xsd:string" />
      <xsd:element minOccurs="0" name="labOrder" type="ns0:labOrder" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateAntechAccountResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:fullAntechAccount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLabResults_ReqId">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrderResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labOrderResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateAntechNumAcctResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:vetStreetAntech" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="petSpecies">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" name="petSpecies" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_ChartId">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labOrderChartId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validatePetSpecies">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element name="arg1" type="ns0:petSpecies" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pollResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="serviceResult" nillable="true" type="ns0:serviceResult" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPubCodeListPrice_USResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:pubCodeListPrice" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLabOrderCodeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labOrderCodeInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getNewEvents">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:pollRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="petBreedInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" name="petBreed" type="xsd:string" />
      <xsd:element minOccurs="0" name="petBreedName" type="xsd:string" />
      <xsd:element minOccurs="0" name="petSpecies" type="xsd:string" />
      <xsd:element minOccurs="0" name="valid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labOrderChartId">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="chartId" type="xsd:string" />
      <xsd:element minOccurs="0" name="labOrder" type="ns0:labOrder" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element name="arg1" type="ns0:labOrder" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requisition">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requisitionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLabResultsByRequisitionIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labResultObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="typeOfService">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="serviceType" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labOrderItems">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="notes" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLabResultsByRequisitionId">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:requisition" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateAntechAccount">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element name="arg1" type="ns0:antechAccount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labResultsReqIds">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="acknowlegements" nillable="true" type="ns0:acknowlegement" />
      <xsd:element minOccurs="0" name="labResults" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="orderResults" nillable="true" type="ns0:orderResult" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="requisitionIds" nillable="true" type="ns0:requisition" />
      <xsd:element name="zoasisId" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLabResultsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:labResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPetBreedList">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element name="arg1" type="ns0:petSpecies" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTypeOfServicesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:typeOfService" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLabResultsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labResultObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labResults">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="acknowlegements" nillable="true" type="ns0:acknowlegement" />
      <xsd:element minOccurs="0" name="labResults" type="xsd:string" />
      <xsd:element name="zoasisId" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="vetStreetAcctRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VS_address1" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_address2" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_city" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_clinicName" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_hid" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_phoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_state" type="xsd:string" />
      <xsd:element minOccurs="0" name="VS_zip" type="xsd:string" />
      <xsd:element name="antechClinicAcctNumber" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLabResults">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_AccessionNoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labOrderResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labAccessionIdObject">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labAccessionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pollRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="typeOfService" nillable="true" type="ns0:typeOfService" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_ChartId_updateResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labOrderResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateAntechNumAcct">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element name="arg1" type="ns0:vetStreetAcctRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLabOrderCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labOrderCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="vetStreetAntechAcct">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="a_address1" type="xsd:string" />
      <xsd:element minOccurs="0" name="a_address2" type="xsd:string" />
      <xsd:element minOccurs="0" name="a_city" type="xsd:string" />
      <xsd:element minOccurs="0" name="a_clinicName" type="xsd:string" />
      <xsd:element name="a_id" type="xsd:int" />
      <xsd:element minOccurs="0" name="a_phoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="a_state" type="xsd:string" />
      <xsd:element minOccurs="0" name="a_zip" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPetBreedListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:petBreedInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateLabOrderCode">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labOrderCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="serviceResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="serviceErrorMessage" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceExtraResult" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceKey" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceType" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceZoasisRowId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLabResults_ReqIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:labResultsReqIds" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getNewEventsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:pollResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_AccessionNo">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labOrderNoCharge" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labOrderCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTypeOfServices">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="orderResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="profileId" type="xsd:string" />
      <xsd:element minOccurs="0" name="requisitionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="unitCodeDisplayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="unitCodeExtId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLabResults">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labAccessionIdObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPubCodeListPrice_US">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_update">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labOrder" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validatePetSpeciesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labOrderCodeInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="orderCodeName" type="xsd:string" />
      <xsd:element minOccurs="0" name="validOrderCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="vetStreetAntech">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accountExist" type="xsd:string" />
      <xsd:element minOccurs="0" name="antechCustService" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="vetStreetAntechAccts" nillable="true" type="ns0:vetStreetAntechAcct" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labOrder">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="antechAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="clientExtId" type="xsd:string" />
      <xsd:element minOccurs="0" name="clientName" type="xsd:string" />
      <xsd:element minOccurs="0" name="doctorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="isCriticalFlag" type="xsd:string" />
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="labOrderItems" nillable="true" type="ns0:labOrderItems" />
      <xsd:element minOccurs="0" name="petAge" type="xsd:string" />
      <xsd:element minOccurs="0" name="petBreed" type="xsd:string" />
      <xsd:element minOccurs="0" name="petExtId" type="xsd:string" />
      <xsd:element minOccurs="0" name="petName" type="xsd:string" />
      <xsd:element minOccurs="0" name="petSex" type="xsd:string" />
      <xsd:element minOccurs="0" name="petSpecies" type="xsd:string" />
      <xsd:element minOccurs="0" name="requisitionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateLabOrderCodeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="acknowledgeServices">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="arg1" nillable="true" type="ns0:acknowlegement" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="acknowlegement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="extraField1" type="xsd:string" />
      <xsd:element minOccurs="0" name="extraField2" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceType" type="xsd:string" />
      <xsd:element minOccurs="0" name="timeStamp" type="xsd:string" />
      <xsd:element minOccurs="0" name="zoasisRowId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_ChartId_update">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:loginObject" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:labOrderChartId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createLabOrder_ChartIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:labOrderResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="antechAccount">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="antechAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="labId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="acknowledgeServicesResponse" />
  <xsd:complexType name="labOrderResults">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labOrderResults" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="createLabOrder_ChartId_updateResponse" type="ns0:createLabOrder_ChartId_updateResponse" />
  <xsd:element name="Exception" type="ns0:Exception" />
  <xsd:element name="validateAntechNumAcct" type="ns0:validateAntechNumAcct" />
  <xsd:element name="getLabOrderCode" type="ns0:getLabOrderCode" />
  <xsd:element name="createLabOrder_updateResponse" type="ns0:createLabOrder_updateResponse" />
  <xsd:element name="getPetBreedListResponse" type="ns0:getPetBreedListResponse" />
  <xsd:element name="validateLabOrderCode" type="ns0:validateLabOrderCode" />
  <xsd:element name="validateAntechAccountResponse" type="ns0:validateAntechAccountResponse" />
  <xsd:element name="createLabOrderResponse" type="ns0:createLabOrderResponse" />
  <xsd:element name="getAllLabResults_ReqId" type="ns0:getAllLabResults_ReqId" />
  <xsd:element name="getNewEventsResponse" type="ns0:getNewEventsResponse" />
  <xsd:element name="getAllLabResults_ReqIdResponse" type="ns0:getAllLabResults_ReqIdResponse" />
  <xsd:element name="createLabOrder_AccessionNo" type="ns0:createLabOrder_AccessionNo" />
  <xsd:element name="validateAntechNumAcctResponse" type="ns0:validateAntechNumAcctResponse" />
  <xsd:element name="createLabOrder_ChartId" type="ns0:createLabOrder_ChartId" />
  <xsd:element name="validatePetSpecies" type="ns0:validatePetSpecies" />
  <xsd:element name="getTypeOfServices" type="ns0:getTypeOfServices" />
  <xsd:element name="getPubCodeListPrice_USResponse" type="ns0:getPubCodeListPrice_USResponse" />
  <xsd:element name="getLabResults" type="ns0:getLabResults" />
  <xsd:element name="getPubCodeListPrice_US" type="ns0:getPubCodeListPrice_US" />
  <xsd:element name="getLabOrderCodeResponse" type="ns0:getLabOrderCodeResponse" />
  <xsd:element name="getNewEvents" type="ns0:getNewEvents" />
  <xsd:element name="validatePetSpeciesResponse" type="ns0:validatePetSpeciesResponse" />
  <xsd:element name="createLabOrder_update" type="ns0:createLabOrder_update" />
  <xsd:element name="createLabOrder" type="ns0:createLabOrder" />
  <xsd:element name="getLabResultsByRequisitionIdResponse" type="ns0:getLabResultsByRequisitionIdResponse" />
  <xsd:element name="validateAntechAccount" type="ns0:validateAntechAccount" />
  <xsd:element name="getLabResultsByRequisitionId" type="ns0:getLabResultsByRequisitionId" />
  <xsd:element name="validateLabOrderCodeResponse" type="ns0:validateLabOrderCodeResponse" />
  <xsd:element name="getAllLabResultsResponse" type="ns0:getAllLabResultsResponse" />
  <xsd:element name="getLabResultsResponse" type="ns0:getLabResultsResponse" />
  <xsd:element name="getTypeOfServicesResponse" type="ns0:getTypeOfServicesResponse" />
  <xsd:element name="getPetBreedList" type="ns0:getPetBreedList" />
  <xsd:element name="acknowledgeServices" type="ns0:acknowledgeServices" />
  <xsd:element name="createLabOrder_ChartId_update" type="ns0:createLabOrder_ChartId_update" />
  <xsd:element name="createLabOrder_ChartIdResponse" type="ns0:createLabOrder_ChartIdResponse" />
  <xsd:element name="getAllLabResults" type="ns0:getAllLabResults" />
  <xsd:element name="acknowledgeServicesResponse" type="ns0:acknowledgeServicesResponse" />
  <xsd:element name="createLabOrder_AccessionNoResponse" type="ns0:createLabOrder_AccessionNoResponse" />
</xsd:schema>