WindowsFormsApplication1/Web References/com.antechdiagnostics.dev/services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="java:zoasis.ws.datamodel.laborders" xmlns:ns1="java:zoasis.ws.datamodel.general" xmlns:ns0="java:zoasis.ws.datamodel.labresult" targetNamespace="java:zoasis.ws.datamodel.labresult" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=2" namespace="java:zoasis.ws.datamodel.general" />
  <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=3" namespace="java:zoasis.ws.datamodel.laborders" />
  <xsd:complexType name="ArrayOfLabResults">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="LabResults" nillable="true" type="ns0:LabResults" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfLabResultsReqIds">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="LabResultsReqIds" nillable="true" type="ns0:LabResultsReqIds" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LabAccessionIdObject">
    <xsd:sequence>
      <xsd:element name="labAccessionId" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LabResultObject">
    <xsd:sequence>
      <xsd:element name="accessionLatestReceivedDate" nillable="true" type="xsd:string" />
      <xsd:element name="accessionResultId" nillable="true" type="xsd:string" />
      <xsd:element name="antechAccessionId" nillable="true" type="xsd:string" />
      <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
      <xsd:element name="labName" nillable="true" type="xsd:string" />
      <xsd:element name="labResults" nillable="true" type="xsd:string" />
      <xsd:element name="orderStatus" nillable="true" type="xsd:string" />
      <xsd:element name="resultReportedDate" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LabResults">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="acknowlegements">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Acknowlegement" nillable="true" type="ns1:Acknowlegement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="labResults" nillable="true" type="xsd:string" />
      <xsd:element name="zoasisId" type="xsd:int" />
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LabResultsReqIds">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="acknowlegements" nillable="true" type="ns1:Acknowlegement" />
      <xsd:element name="labResults" nillable="true" type="xsd:string" />
      <xsd:element name="orderResults" nillable="true" type="ns0:ArrayOfOrderResult" />
      <xsd:element name="requisitionIds" nillable="true" type="ns2:ArrayOfRequisition" />
      <xsd:element name="zoasisId" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfOrderResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrderResult" nillable="true" type="ns0:OrderResult" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="labId" nillable="true" type="xsd:string" />
      <xsd:element name="orderCode" nillable="true" type="xsd:string" />
      <xsd:element name="profileId" nillable="true" type="xsd:string" />
      <xsd:element name="requisitionId" nillable="true" type="xsd:string" />
      <xsd:element name="unitCodeDisplayName" nillable="true" type="xsd:string" />
      <xsd:element name="unitCodeExtId" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>