WindowsFormsApplication1/Web References/com.antechdiagnostics.dev/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://www.zoasis.com/service/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="services" targetNamespace="http://www.zoasis.com/service/services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=1" namespace="http://www.zoasis.com/service/services" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=2" namespace="java:zoasis.ws.datamodel.general" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=3" namespace="java:zoasis.ws.datamodel.laborders" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=4" namespace="java:zoasis.ws.datamodel.labresult" />
    </xsd:schema>
  </types>
  <message name="getLabResults">
    <part xmlns:ns1="java:zoasis.ws.datamodel.general" name="loginObject" type="ns1:LoginObject" />
    <part xmlns:ns2="java:zoasis.ws.datamodel.labresult" name="labAccessionIdObject" type="ns2:LabAccessionIdObject" />
  </message>
  <message name="getLabResultsResponse">
    <part xmlns:ns3="java:zoasis.ws.datamodel.labresult" name="result" type="ns3:LabResultObject" />
  </message>
  <message name="getLabResultsByRequisitionId">
    <part xmlns:ns4="java:zoasis.ws.datamodel.general" name="loginObject" type="ns4:LoginObject" />
    <part xmlns:ns5="java:zoasis.ws.datamodel.laborders" name="requisition" type="ns5:Requisition" />
  </message>
  <message name="getLabResultsByRequisitionIdResponse">
    <part xmlns:ns6="java:zoasis.ws.datamodel.labresult" name="result" type="ns6:LabResultObject" />
  </message>
  <message name="getAllLabResults">
    <part xmlns:ns7="java:zoasis.ws.datamodel.general" name="loginObject" type="ns7:LoginObject" />
  </message>
  <message name="getAllLabResultsResponse">
    <part xmlns:ns8="java:zoasis.ws.datamodel.labresult" name="result" type="ns8:ArrayOfLabResults" />
  </message>
  <message name="getAllLabResults_ReqId">
    <part xmlns:ns9="java:zoasis.ws.datamodel.general" name="loginObject" type="ns9:LoginObject" />
  </message>
  <message name="getAllLabResults_ReqIdResponse">
    <part xmlns:ns10="java:zoasis.ws.datamodel.labresult" name="result" type="ns10:ArrayOfLabResultsReqIds" />
  </message>
  <message name="createLabOrder">
    <part xmlns:ns11="java:zoasis.ws.datamodel.general" name="loginObject" type="ns11:LoginObject" />
    <part xmlns:ns12="java:zoasis.ws.datamodel.laborders" name="labOrder" type="ns12:LabOrder" />
  </message>
  <message name="createLabOrderResponse">
    <part xmlns:ns13="java:zoasis.ws.datamodel.laborders" name="result" type="ns13:LabOrderResults" />
  </message>
  <message name="createLabOrder_ChartId">
    <part xmlns:ns14="java:zoasis.ws.datamodel.general" name="loginObject" type="ns14:LoginObject" />
    <part xmlns:ns15="java:zoasis.ws.datamodel.laborders" name="labOrderChartId" type="ns15:LabOrderChartId" />
  </message>
  <message name="createLabOrder_ChartIdResponse">
    <part xmlns:ns16="java:zoasis.ws.datamodel.laborders" name="result" type="ns16:LabOrderResults" />
  </message>
  <message name="createLabOrder_AccessionNo">
    <part xmlns:ns17="java:zoasis.ws.datamodel.general" name="loginObject" type="ns17:LoginObject" />
    <part xmlns:ns18="java:zoasis.ws.datamodel.laborders" name="labOrderNoCharge" type="ns18:LabOrderNoCharge" />
  </message>
  <message name="createLabOrder_AccessionNoResponse">
    <part xmlns:ns19="java:zoasis.ws.datamodel.laborders" name="result" type="ns19:LabOrderResults" />
  </message>
  <message name="createLabOrder_update">
    <part xmlns:ns20="java:zoasis.ws.datamodel.general" name="loginObject" type="ns20:LoginObject" />
    <part xmlns:ns21="java:zoasis.ws.datamodel.laborders" name="labOrder" type="ns21:LabOrder" />
  </message>
  <message name="createLabOrder_updateResponse">
    <part xmlns:ns22="java:zoasis.ws.datamodel.laborders" name="result" type="ns22:LabOrderResults" />
  </message>
  <message name="createLabOrder_ChartId_update">
    <part xmlns:ns23="java:zoasis.ws.datamodel.general" name="loginObject" type="ns23:LoginObject" />
    <part xmlns:ns24="java:zoasis.ws.datamodel.laborders" name="labOrderChartId" type="ns24:LabOrderChartId" />
  </message>
  <message name="createLabOrder_ChartId_updateResponse">
    <part xmlns:ns25="java:zoasis.ws.datamodel.laborders" name="result" type="ns25:LabOrderResults" />
  </message>
  <message name="validateLabOrderCode">
    <part xmlns:ns26="java:zoasis.ws.datamodel.general" name="loginObject" type="ns26:LoginObject" />
    <part xmlns:ns27="java:zoasis.ws.datamodel.laborders" name="labOrderCode" type="ns27:LabOrderCode" />
  </message>
  <message name="validateLabOrderCodeResponse">
    <part name="result" type="xsd:string" />
  </message>
  <message name="getLabOrderCode">
    <part xmlns:ns28="java:zoasis.ws.datamodel.general" name="loginObject" type="ns28:LoginObject" />
    <part xmlns:ns29="java:zoasis.ws.datamodel.laborders" name="labOrderCode" type="ns29:LabOrderCode" />
  </message>
  <message name="getLabOrderCodeResponse">
    <part xmlns:ns30="java:zoasis.ws.datamodel.laborders" name="result" type="ns30:LabOrderCodeInfo" />
  </message>
  <message name="getAllPubCodeListPrice">
    <part xmlns:ns31="java:zoasis.ws.datamodel.general" name="loginObject" type="ns31:LoginObject" />
  </message>
  <message name="getAllPubCodeListPriceResponse">
    <part xmlns:ns32="java:zoasis.ws.datamodel.laborders" name="result" type="ns32:ArrayOfPubCodeListPrice" />
  </message>
  <message name="validateAntechAccount">
    <part xmlns:ns33="java:zoasis.ws.datamodel.general" name="loginObject" type="ns33:LoginObject" />
    <part xmlns:ns34="java:zoasis.ws.datamodel.general" name="arg1" type="ns34:AntechAccount" />
  </message>
  <message name="validateAntechAccountResponse">
    <part xmlns:ns35="java:zoasis.ws.datamodel.general" name="result" type="ns35:ArrayOfFullAntechAccount" />
  </message>
  <message name="validateAntechNumAcct">
    <part xmlns:ns36="java:zoasis.ws.datamodel.general" name="loginObject" type="ns36:LoginObject" />
    <part xmlns:ns37="java:zoasis.ws.datamodel.general" name="vetStreetAcctRequest" type="ns37:VetStreetAcctRequest" />
  </message>
  <message name="validateAntechNumAcctResponse">
    <part xmlns:ns38="java:zoasis.ws.datamodel.general" name="result" type="ns38:VetStreetAntech" />
  </message>
  <message name="getPetBreedList">
    <part xmlns:ns39="java:zoasis.ws.datamodel.general" name="loginObject" type="ns39:LoginObject" />
    <part xmlns:ns40="java:zoasis.ws.datamodel.laborders" name="petSpecies" type="ns40:PetSpecies" />
  </message>
  <message name="getPetBreedListResponse">
    <part xmlns:ns41="java:zoasis.ws.datamodel.laborders" name="result" type="ns41:ArrayOfPetBreedInfo" />
  </message>
  <message name="acknowledgeServices">
    <part xmlns:ns42="java:zoasis.ws.datamodel.general" name="loginObject" type="ns42:LoginObject" />
    <part xmlns:ns43="java:zoasis.ws.datamodel.general" name="acknowlegements" type="ns43:ArrayOfAcknowlegement" />
  </message>
  <message name="acknowledgeServicesResponse" />
  <message name="getUSPubCodeListPrice">
    <part xmlns:ns44="java:zoasis.ws.datamodel.general" name="loginObject" type="ns44:LoginObject" />
  </message>
  <message name="getUSPubCodeListPriceResponse">
    <part xmlns:ns45="java:zoasis.ws.datamodel.laborders" name="result" type="ns45:ArrayOfPubCodeListPrice" />
  </message>
  <message name="FinderException">
    <part name="fault" element="tns:FinderException" />
  </message>
  <message name="getPubCodeListPrice_US">
    <part xmlns:ns46="java:zoasis.ws.datamodel.general" name="loginObject" type="ns46:LoginObject" />
  </message>
  <message name="getPubCodeListPrice_USResponse">
    <part xmlns:ns47="java:zoasis.ws.datamodel.laborders" name="result" type="ns47:ArrayOfPubCodeListPrice" />
  </message>
  <message name="getCanadaPubCodeListPrice">
    <part xmlns:ns48="java:zoasis.ws.datamodel.general" name="loginObject" type="ns48:LoginObject" />
  </message>
  <message name="getCanadaPubCodeListPriceResponse">
    <part xmlns:ns49="java:zoasis.ws.datamodel.laborders" name="result" type="ns49:ArrayOfPubCodeListPrice" />
  </message>
  <message name="validatePetSpecies">
    <part xmlns:ns50="java:zoasis.ws.datamodel.general" name="loginObject" type="ns50:LoginObject" />
    <part xmlns:ns51="java:zoasis.ws.datamodel.laborders" name="petSpecies" type="ns51:PetSpecies" />
  </message>
  <message name="validatePetSpeciesResponse">
    <part name="result" type="xsd:string" />
  </message>
  <message name="getTypeOfServices">
    <part xmlns:ns52="java:zoasis.ws.datamodel.general" name="loginObject" type="ns52:LoginObject" />
  </message>
  <message name="getTypeOfServicesResponse">
    <part xmlns:ns53="java:zoasis.ws.datamodel.general" name="result" type="ns53:ArrayOfTypeOfService" />
  </message>
  <message name="getNewEvents">
    <part xmlns:ns54="java:zoasis.ws.datamodel.general" name="loginObject" type="ns54:LoginObject" />
    <part xmlns:ns55="java:zoasis.ws.datamodel.general" name="pollRequest" type="ns55:PollRequest" />
  </message>
  <message name="getNewEventsResponse">
    <part xmlns:ns56="java:zoasis.ws.datamodel.general" name="result" type="ns56:PollResponse" />
  </message>
  <message name="getPracticeSoftwareList">
    <part xmlns:ns57="java:zoasis.ws.datamodel.general" name="loginObject" type="ns57:LoginObject" />
  </message>
  <message name="getPracticeSoftwareListResponse">
    <part name="practiceSoftwareList" type="tns:listOfPracticeSoftware" />
  </message>
  <message name="getSpeciesList">
    <part xmlns:ns58="java:zoasis.ws.datamodel.general" name="loginObject" type="ns58:LoginObject" />
    <part name="labObject" type="tns:lab" />
  </message>
  <message name="getSpeciesListResponse">
    <part name="speciesList" type="tns:listOfSpeciesTrans" />
  </message>
  <portType name="ZoasisServicesPort">
    <operation name="getLabResults" parameterOrder="loginObject labAccessionIdObject">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsRequest" message="tns:getLabResults" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsResponse" message="tns:getLabResultsResponse" />
    </operation>
    <operation name="getLabResultsByRequisitionId" parameterOrder="loginObject requisition">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsByRequisitionIdRequest" message="tns:getLabResultsByRequisitionId" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsByRequisitionIdResponse" message="tns:getLabResultsByRequisitionIdResponse" />
    </operation>
    <operation name="getAllLabResults">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResultsRequest" message="tns:getAllLabResults" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResultsResponse" message="tns:getAllLabResultsResponse" />
    </operation>
    <operation name="getAllLabResults_ReqId">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResults_ReqIdRequest" message="tns:getAllLabResults_ReqId" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResults_ReqIdResponse" message="tns:getAllLabResults_ReqIdResponse" />
    </operation>
    <operation name="createLabOrder" parameterOrder="loginObject labOrder">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrderRequest" message="tns:createLabOrder" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrderResponse" message="tns:createLabOrderResponse" />
    </operation>
    <operation name="createLabOrder_ChartId" parameterOrder="loginObject labOrderChartId">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartIdRequest" message="tns:createLabOrder_ChartId" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartIdResponse" message="tns:createLabOrder_ChartIdResponse" />
    </operation>
    <operation name="createLabOrder_AccessionNo" parameterOrder="loginObject labOrderNoCharge">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_AccessionNoRequest" message="tns:createLabOrder_AccessionNo" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_AccessionNoResponse" message="tns:createLabOrder_AccessionNoResponse" />
    </operation>
    <operation name="createLabOrder_update" parameterOrder="loginObject labOrder">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_updateRequest" message="tns:createLabOrder_update" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_updateResponse" message="tns:createLabOrder_updateResponse" />
    </operation>
    <operation name="createLabOrder_ChartId_update" parameterOrder="loginObject labOrderChartId">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartId_updateRequest" message="tns:createLabOrder_ChartId_update" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartId_updateResponse" message="tns:createLabOrder_ChartId_updateResponse" />
    </operation>
    <operation name="validateLabOrderCode" parameterOrder="loginObject labOrderCode">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateLabOrderCodeRequest" message="tns:validateLabOrderCode" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateLabOrderCodeResponse" message="tns:validateLabOrderCodeResponse" />
    </operation>
    <operation name="getLabOrderCode" parameterOrder="loginObject labOrderCode">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabOrderCodeRequest" message="tns:getLabOrderCode" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabOrderCodeResponse" message="tns:getLabOrderCodeResponse" />
    </operation>
    <operation name="getAllPubCodeListPrice">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllPubCodeListPriceRequest" message="tns:getAllPubCodeListPrice" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllPubCodeListPriceResponse" message="tns:getAllPubCodeListPriceResponse" />
    </operation>
    <operation name="validateAntechAccount" parameterOrder="loginObject arg1">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechAccountRequest" message="tns:validateAntechAccount" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechAccountResponse" message="tns:validateAntechAccountResponse" />
    </operation>
    <operation name="validateAntechNumAcct" parameterOrder="loginObject vetStreetAcctRequest">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechNumAcctRequest" message="tns:validateAntechNumAcct" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechNumAcctResponse" message="tns:validateAntechNumAcctResponse" />
    </operation>
    <operation name="getPetBreedList" parameterOrder="loginObject petSpecies">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPetBreedListRequest" message="tns:getPetBreedList" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPetBreedListResponse" message="tns:getPetBreedListResponse" />
    </operation>
    <operation name="acknowledgeServices" parameterOrder="loginObject acknowlegements">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/acknowledgeServicesRequest" message="tns:acknowledgeServices" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/acknowledgeServicesResponse" message="tns:acknowledgeServicesResponse" />
    </operation>
    <operation name="getUSPubCodeListPrice">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getUSPubCodeListPriceRequest" message="tns:getUSPubCodeListPrice" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getUSPubCodeListPriceResponse" message="tns:getUSPubCodeListPriceResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getUSPubCodeListPrice/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getPubCodeListPrice_US">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPubCodeListPrice_USRequest" message="tns:getPubCodeListPrice_US" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPubCodeListPrice_USResponse" message="tns:getPubCodeListPrice_USResponse" />
    </operation>
    <operation name="getCanadaPubCodeListPrice">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getCanadaPubCodeListPriceRequest" message="tns:getCanadaPubCodeListPrice" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getCanadaPubCodeListPriceResponse" message="tns:getCanadaPubCodeListPriceResponse" />
    </operation>
    <operation name="validatePetSpecies" parameterOrder="loginObject petSpecies">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validatePetSpeciesRequest" message="tns:validatePetSpecies" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validatePetSpeciesResponse" message="tns:validatePetSpeciesResponse" />
    </operation>
    <operation name="getTypeOfServices">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getTypeOfServicesRequest" message="tns:getTypeOfServices" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getTypeOfServicesResponse" message="tns:getTypeOfServicesResponse" />
    </operation>
    <operation name="getNewEvents" parameterOrder="loginObject pollRequest">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getNewEventsRequest" message="tns:getNewEvents" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getNewEventsResponse" message="tns:getNewEventsResponse" />
    </operation>
    <operation name="getPracticeSoftwareList">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPracticeSoftwareListRequest" message="tns:getPracticeSoftwareList" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPracticeSoftwareListResponse" message="tns:getPracticeSoftwareListResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPracticeSoftwareList/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getSpeciesList" parameterOrder="loginObject labObject">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getSpeciesListRequest" message="tns:getSpeciesList" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getSpeciesListResponse" message="tns:getSpeciesListResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getSpeciesList/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
  </portType>
  <binding name="ZoasisServicesPortBinding" type="tns:ZoasisServicesPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getLabResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getLabResultsByRequisitionId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getAllLabResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getAllLabResults_ReqId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="createLabOrder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="createLabOrder_ChartId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="createLabOrder_AccessionNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="createLabOrder_update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="createLabOrder_ChartId_update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="validateLabOrderCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getLabOrderCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getAllPubCodeListPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="validateAntechAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="validateAntechNumAcct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getPetBreedList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="acknowledgeServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getUSPubCodeListPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getPubCodeListPrice_US">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getCanadaPubCodeListPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="validatePetSpecies">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getTypeOfServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getNewEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
    </operation>
    <operation name="getPracticeSoftwareList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getSpeciesList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="services">
    <port name="ZoasisServicesPort" binding="tns:ZoasisServicesPortBinding">
      <soap:address location="https://dev.antechdiagnostics.com:443/service/services" />
    </port>
  </service>
</definitions>