WindowsFormsApplication1/Web References/com.antechdiagnostics.dev/services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://www.zoasis.com/service/services" targetNamespace="http://www.zoasis.com/service/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="lab">
    <xsd:sequence>
      <xsd:element minOccurs="0" default="1" name="labId" nillable="true" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinderException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="speciesTrans">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="valid" type="xsd:string" />
      <xsd:element minOccurs="0" name="petSpecies" type="xsd:string" />
      <xsd:element minOccurs="0" name="speciesName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listOfSpeciesTrans">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="ns0:speciesTrans" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listOfObject">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="practiceSoftware">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="pmsCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="practiceSoftwareId" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listOfPracticeSoftware">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="ns0:practiceSoftware" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="lab" type="ns0:lab" />
  <xsd:element name="FinderException" type="ns0:FinderException" />
  <xsd:element name="speciesTrans" type="ns0:speciesTrans" />
  <xsd:element name="practiceSoftware" type="ns0:practiceSoftware" />
</xsd:schema>