WindowsFormsApplication1/Web References/com.antechdiagnostics.dev/ZoasisServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://www.zoasis.com/service/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ZoasisServices" targetNamespace="http://www.zoasis.com/service/services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=1" namespace="java:zoasis.ws.datamodel.general" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=2" namespace="java:zoasis.ws.datamodel.laborders" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=3" namespace="java:zoasis.ws.datamodel.labresult" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://dev.antechdiagnostics.com:443/service/services?xsd=4" namespace="http://www.zoasis.com/service/services" />
    </xsd:schema>
  </types>
  <message name="getTypeOfServices">
    <part xmlns:ns1="java:zoasis.ws.datamodel.general" name="loginObject" type="ns1:LoginObject" />
  </message>
  <message name="getTypeOfServicesResponse">
    <part xmlns:ns2="java:zoasis.ws.datamodel.general" name="result" type="ns2:ArrayOfTypeOfService" />
  </message>
  <message name="FinderException">
    <part name="fault" element="tns:FinderException" />
  </message>
  <message name="getNewEvents">
    <part xmlns:ns3="java:zoasis.ws.datamodel.general" name="loginObject" type="ns3:LoginObject" />
    <part xmlns:ns4="java:zoasis.ws.datamodel.general" name="pollRequest" type="ns4:PollRequest" />
  </message>
  <message name="getNewEventsResponse">
    <part xmlns:ns5="java:zoasis.ws.datamodel.general" name="result" type="ns5:PollResponse" />
  </message>
  <message name="getLabResults">
    <part xmlns:ns6="java:zoasis.ws.datamodel.general" name="loginObject" type="ns6:LoginObject" />
    <part xmlns:ns7="java:zoasis.ws.datamodel.labresult" name="labAccessionIdObject" type="ns7:LabAccessionIdObject" />
  </message>
  <message name="getLabResultsResponse">
    <part xmlns:ns8="java:zoasis.ws.datamodel.labresult" name="result" type="ns8:LabResultObject" />
  </message>
  <message name="getLabResultsByRequisitionId">
    <part xmlns:ns9="java:zoasis.ws.datamodel.general" name="loginObject" type="ns9:LoginObject" />
    <part xmlns:ns10="java:zoasis.ws.datamodel.laborders" name="requisition" type="ns10:Requisition" />
  </message>
  <message name="getLabResultsByRequisitionIdResponse">
    <part xmlns:ns11="java:zoasis.ws.datamodel.labresult" name="result" type="ns11:LabResultObject" />
  </message>
  <message name="getAllLabResults">
    <part xmlns:ns12="java:zoasis.ws.datamodel.general" name="loginObject" type="ns12:LoginObject" />
  </message>
  <message name="getAllLabResultsResponse">
    <part xmlns:ns13="java:zoasis.ws.datamodel.labresult" name="result" type="ns13:ArrayOfLabResults" />
  </message>
  <message name="getAllLabResults_ReqId">
    <part xmlns:ns14="java:zoasis.ws.datamodel.general" name="loginObject" type="ns14:LoginObject" />
  </message>
  <message name="getAllLabResults_ReqIdResponse">
    <part xmlns:ns15="java:zoasis.ws.datamodel.labresult" name="result" type="ns15:ArrayOfLabResultsReqIds" />
  </message>
  <message name="createLabOrder">
    <part xmlns:ns16="java:zoasis.ws.datamodel.general" name="loginObject" type="ns16:LoginObject" />
    <part xmlns:ns17="java:zoasis.ws.datamodel.laborders" name="labOrder" type="ns17:LabOrder" />
  </message>
  <message name="createLabOrderResponse">
    <part xmlns:ns18="java:zoasis.ws.datamodel.laborders" name="result" type="ns18:LabOrderResults" />
  </message>
  <message name="createLabOrder_ChartId">
    <part xmlns:ns19="java:zoasis.ws.datamodel.general" name="loginObject" type="ns19:LoginObject" />
    <part xmlns:ns20="java:zoasis.ws.datamodel.laborders" name="labOrderChartId" type="ns20:LabOrderChartId" />
  </message>
  <message name="createLabOrder_ChartIdResponse">
    <part xmlns:ns21="java:zoasis.ws.datamodel.laborders" name="result" type="ns21:LabOrderResults" />
  </message>
  <message name="createLabOrder_AccessionNo">
    <part xmlns:ns22="java:zoasis.ws.datamodel.general" name="loginObject" type="ns22:LoginObject" />
    <part xmlns:ns23="java:zoasis.ws.datamodel.laborders" name="labOrderNoCharge" type="ns23:LabOrderNoCharge" />
  </message>
  <message name="createLabOrder_AccessionNoResponse">
    <part xmlns:ns24="java:zoasis.ws.datamodel.laborders" name="result" type="ns24:LabOrderResults" />
  </message>
  <message name="createLabOrder_update">
    <part xmlns:ns25="java:zoasis.ws.datamodel.general" name="loginObject" type="ns25:LoginObject" />
    <part xmlns:ns26="java:zoasis.ws.datamodel.laborders" name="labOrder" type="ns26:LabOrder" />
  </message>
  <message name="createLabOrder_updateResponse">
    <part xmlns:ns27="java:zoasis.ws.datamodel.laborders" name="result" type="ns27:LabOrderResults" />
  </message>
  <message name="createLabOrder_ChartId_update">
    <part xmlns:ns28="java:zoasis.ws.datamodel.general" name="loginObject" type="ns28:LoginObject" />
    <part xmlns:ns29="java:zoasis.ws.datamodel.laborders" name="labOrderChartId" type="ns29:LabOrderChartId" />
  </message>
  <message name="createLabOrder_ChartId_updateResponse">
    <part xmlns:ns30="java:zoasis.ws.datamodel.laborders" name="result" type="ns30:LabOrderResults" />
  </message>
  <message name="validateLabOrderCode">
    <part xmlns:ns31="java:zoasis.ws.datamodel.general" name="loginObject" type="ns31:LoginObject" />
    <part xmlns:ns32="java:zoasis.ws.datamodel.laborders" name="labOrderCode" type="ns32:LabOrderCode" />
  </message>
  <message name="validateLabOrderCodeResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getLabOrderCode">
    <part xmlns:ns33="java:zoasis.ws.datamodel.general" name="loginObject" type="ns33:LoginObject" />
    <part xmlns:ns34="java:zoasis.ws.datamodel.laborders" name="labOrderCode" type="ns34:LabOrderCode" />
  </message>
  <message name="getLabOrderCodeResponse">
    <part xmlns:ns35="java:zoasis.ws.datamodel.laborders" name="return" type="ns35:LabOrderCodeInfo" />
  </message>
  <message name="getPubCodeListPrice_US">
    <part xmlns:ns36="java:zoasis.ws.datamodel.general" name="loginObject" type="ns36:LoginObject" />
  </message>
  <message name="getPubCodeListPrice_USResponse">
    <part xmlns:ns37="java:zoasis.ws.datamodel.laborders" name="result" type="ns37:ArrayOfPubCodeListPrice" />
  </message>
  <message name="validateAntechAccount">
    <part xmlns:ns38="java:zoasis.ws.datamodel.general" name="loginObject" type="ns38:LoginObject" />
    <part xmlns:ns39="java:zoasis.ws.datamodel.general" name="antechAccount" type="ns39:AntechAccount" />
  </message>
  <message name="validateAntechAccountResponse">
    <part xmlns:ns40="java:zoasis.ws.datamodel.general" name="result" type="ns40:ArrayOfFullAntechAccount" />
  </message>
  <message name="validateAntechNumAcct">
    <part xmlns:ns41="java:zoasis.ws.datamodel.general" name="loginObject" type="ns41:LoginObject" />
    <part xmlns:ns42="java:zoasis.ws.datamodel.general" name="vetStreetAcctRequest" type="ns42:VetStreetAcctRequest" />
  </message>
  <message name="validateAntechNumAcctResponse">
    <part xmlns:ns43="java:zoasis.ws.datamodel.general" name="result" type="ns43:VetStreetAntech" />
  </message>
  <message name="validatePetSpecies">
    <part xmlns:ns44="java:zoasis.ws.datamodel.general" name="loginObject" type="ns44:LoginObject" />
    <part xmlns:ns45="java:zoasis.ws.datamodel.laborders" name="petSpecies" type="ns45:PetSpecies" />
  </message>
  <message name="validatePetSpeciesResponse">
    <part name="result" type="xsd:string" />
  </message>
  <message name="getPetBreedList">
    <part xmlns:ns46="java:zoasis.ws.datamodel.general" name="loginObject" type="ns46:LoginObject" />
    <part xmlns:ns47="java:zoasis.ws.datamodel.laborders" name="petSpecies" type="ns47:PetSpecies" />
  </message>
  <message name="getPetBreedListResponse">
    <part xmlns:ns48="java:zoasis.ws.datamodel.laborders" name="result" type="ns48:ArrayOfPetBreedInfo" />
  </message>
  <message name="acknowledgeServices">
    <part xmlns:ns49="java:zoasis.ws.datamodel.general" name="loginObject" type="ns49:LoginObject" />
    <part xmlns:ns50="java:zoasis.ws.datamodel.general" name="acknowlegements" type="ns50:ArrayOfAcknowlegement" />
  </message>
  <message name="acknowledgeServicesResponse" />
  <message name="getCanadaPubCodeListPrice">
    <part xmlns:ns51="java:zoasis.ws.datamodel.general" name="loginObject" type="ns51:LoginObject" />
  </message>
  <message name="getCanadaPubCodeListPriceResponse">
    <part xmlns:ns52="java:zoasis.ws.datamodel.laborders" name="result" type="ns52:ArrayOfPubCodeListPrice" />
  </message>
  <message name="getAllPubCodeListPrice">
    <part xmlns:ns53="java:zoasis.ws.datamodel.general" name="loginObject" type="ns53:LoginObject" />
  </message>
  <message name="getAllPubCodeListPriceResponse">
    <part xmlns:ns54="java:zoasis.ws.datamodel.laborders" name="result" type="ns54:ArrayOfPubCodeListPrice" />
  </message>
  <message name="getUSPubCodeListPrice">
    <part xmlns:ns55="java:zoasis.ws.datamodel.general" name="loginObject" type="ns55:LoginObject" />
  </message>
  <message name="getUSPubCodeListPriceResponse">
    <part xmlns:ns56="java:zoasis.ws.datamodel.laborders" name="result" type="ns56:ArrayOfPubCodeListPrice" />
  </message>
  <portType name="ZoasisServicesPort">
    <operation name="getTypeOfServices">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getTypeOfServicesRequest" message="tns:getTypeOfServices" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getTypeOfServicesResponse" message="tns:getTypeOfServicesResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getTypeOfServices/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getNewEvents" parameterOrder="loginObject pollRequest">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getNewEventsRequest" message="tns:getNewEvents" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getNewEventsResponse" message="tns:getNewEventsResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getNewEvents/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getLabResults" parameterOrder="loginObject labAccessionIdObject">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsRequest" message="tns:getLabResults" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsResponse" message="tns:getLabResultsResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResults/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getLabResultsByRequisitionId" parameterOrder="loginObject requisition">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsByRequisitionIdRequest" message="tns:getLabResultsByRequisitionId" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsByRequisitionIdResponse" message="tns:getLabResultsByRequisitionIdResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabResultsByRequisitionId/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getAllLabResults">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResultsRequest" message="tns:getAllLabResults" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResultsResponse" message="tns:getAllLabResultsResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResults/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getAllLabResults_ReqId">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResults_ReqIdRequest" message="tns:getAllLabResults_ReqId" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResults_ReqIdResponse" message="tns:getAllLabResults_ReqIdResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllLabResults_ReqId/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="createLabOrder" parameterOrder="loginObject labOrder">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrderRequest" message="tns:createLabOrder" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrderResponse" message="tns:createLabOrderResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="createLabOrder_ChartId" parameterOrder="loginObject labOrderChartId">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartIdRequest" message="tns:createLabOrder_ChartId" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartIdResponse" message="tns:createLabOrder_ChartIdResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartId/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="createLabOrder_AccessionNo" parameterOrder="loginObject labOrderNoCharge">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_AccessionNoRequest" message="tns:createLabOrder_AccessionNo" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_AccessionNoResponse" message="tns:createLabOrder_AccessionNoResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_AccessionNo/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="createLabOrder_update" parameterOrder="loginObject labOrder">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_updateRequest" message="tns:createLabOrder_update" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_updateResponse" message="tns:createLabOrder_updateResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_update/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="createLabOrder_ChartId_update" parameterOrder="loginObject labOrderChartId">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartId_updateRequest" message="tns:createLabOrder_ChartId_update" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartId_updateResponse" message="tns:createLabOrder_ChartId_updateResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/createLabOrder_ChartId_update/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="validateLabOrderCode" parameterOrder="loginObject labOrderCode">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateLabOrderCodeRequest" message="tns:validateLabOrderCode" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateLabOrderCodeResponse" message="tns:validateLabOrderCodeResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateLabOrderCode/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getLabOrderCode" parameterOrder="loginObject labOrderCode">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabOrderCodeRequest" message="tns:getLabOrderCode" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabOrderCodeResponse" message="tns:getLabOrderCodeResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getLabOrderCode/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getPubCodeListPrice_US">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPubCodeListPrice_USRequest" message="tns:getPubCodeListPrice_US" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPubCodeListPrice_USResponse" message="tns:getPubCodeListPrice_USResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPubCodeListPrice_US/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="validateAntechAccount" parameterOrder="loginObject antechAccount">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechAccountRequest" message="tns:validateAntechAccount" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechAccountResponse" message="tns:validateAntechAccountResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechAccount/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="validateAntechNumAcct" parameterOrder="loginObject vetStreetAcctRequest">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechNumAcctRequest" message="tns:validateAntechNumAcct" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechNumAcctResponse" message="tns:validateAntechNumAcctResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validateAntechNumAcct/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="validatePetSpecies" parameterOrder="loginObject petSpecies">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validatePetSpeciesRequest" message="tns:validatePetSpecies" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validatePetSpeciesResponse" message="tns:validatePetSpeciesResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/validatePetSpecies/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getPetBreedList" parameterOrder="loginObject petSpecies">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPetBreedListRequest" message="tns:getPetBreedList" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPetBreedListResponse" message="tns:getPetBreedListResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getPetBreedList/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="acknowledgeServices" parameterOrder="loginObject acknowlegements">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/acknowledgeServicesRequest" message="tns:acknowledgeServices" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/acknowledgeServicesResponse" message="tns:acknowledgeServicesResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/acknowledgeServices/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getCanadaPubCodeListPrice">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getCanadaPubCodeListPriceRequest" message="tns:getCanadaPubCodeListPrice" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getCanadaPubCodeListPriceResponse" message="tns:getCanadaPubCodeListPriceResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getCanadaPubCodeListPrice/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getAllPubCodeListPrice">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllPubCodeListPriceRequest" message="tns:getAllPubCodeListPrice" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllPubCodeListPriceResponse" message="tns:getAllPubCodeListPriceResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getAllPubCodeListPrice/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
    <operation name="getUSPubCodeListPrice">
      <input wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getUSPubCodeListPriceRequest" message="tns:getUSPubCodeListPrice" />
      <output wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getUSPubCodeListPriceResponse" message="tns:getUSPubCodeListPriceResponse" />
      <fault wsam:Action="http://www.zoasis.com/service/services/ZoasisServicesPort/getUSPubCodeListPrice/Fault/FinderException" name="FinderException" message="tns:FinderException" />
    </operation>
  </portType>
  <binding name="ZoasisServicesPortBinding" type="tns:ZoasisServicesPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getTypeOfServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getNewEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getLabResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getLabResultsByRequisitionId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLabResults">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLabResults_ReqId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_ChartId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_AccessionNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="createLabOrder_ChartId_update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="validateLabOrderCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getLabOrderCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getPubCodeListPrice_US">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="validateAntechAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="validateAntechNumAcct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="validatePetSpecies">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getPetBreedList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="acknowledgeServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getCanadaPubCodeListPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllPubCodeListPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
    <operation name="getUSPubCodeListPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.zoasis.com/service/services" />
      </output>
      <fault name="FinderException">
        <soap:fault use="literal" name="FinderException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ZoasisServices">
    <port name="ZoasisServicesPort" binding="tns:ZoasisServicesPortBinding">
      <soap:address location="https://dev.antechdiagnostics.com:443/service/services" />
    </port>
  </service>
</definitions>